/* MAIN FORM  */
.form-container {
  position: relative;        
  background-color: inherit; 
  max-width: 598px;
  margin: 32px auto;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border: 1px solid #e0e1e0;
  border-radius: 8px;
}
.form-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #5f6368;
}

.note-text {
  border: none;
  font-size: 1rem;
  height: 100%;
  padding: 10px;
  margin-left: 10px;
  width: 100%;
  margin-right: 10px;
  padding-left: 10px;
}

.note-title {
  border: none;
  font-size: 1rem;
  height: 100%;
  padding: 10px;
  margin-left: 10px;
  width: 100%;
  margin-right: 10px;
  padding-left: 10px;
}

.form-actions {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.form .form-actions .icons {
  display: flex;
    
}

.form .form-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.small-icon {
  color: black;
  font-size: 1.1rem;
}


.color-palette {
  position: absolute;
  bottom: 50px; 
  left: 10px;   
  display: flex;
  gap: 5px;
  padding: 5px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  z-index: 1000;
}

.color-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}


.reminder-popup {
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 260px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 100;
}

.reminder-title {
  font-weight: 500;
  margin-bottom: 4px;
}

.reminder-sub {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 10px;
}

.reminder-option {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.reminder-option:hover {
  background: #f1f3f4;
}
.pinned {
  color: #fbbc04; 
}

/* PIN TOP RIGHT */
.form-container {
  position: relative;
}

.pin-top {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #5f6368;
  cursor: pointer;
  opacity: 0;
  transition: 0.2s;
}


.form-container:hover .pin-top {
  opacity: 1;
}


.pin-top.pinned {
  opacity: 1;
  background: #e8eaed;
  border-radius: 50%;
  padding: 4px;
  color: #202124;
}


.selected-reminder {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 8px;
  padding: 5px 10px;
  background: #f1f3f4;
  border-radius: 20px;
  font-size: 12px;
  width: fit-content;
}

.selected-reminder .material-symbols-outlined {
  font-size: 16px;
  color: #5f6368;
}

.remove-reminder {
  cursor: pointer;
  font-size: 16px;
}

.remove-reminder:hover {
  color: red;
}

